##### LOCAWEB - NAO REMOVER #####
AddHandler php80-script .php
suPHP_ConfigPath /home/dubaifacilities1/
##### LOCAWEB - NAO REMOVER #####

RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://www.dubaifacilities.com.br/$1 [R,L]